@media only screen and (min-width: 600px) {
  .project-style {
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .project-style {
    font-size: .95rem;
  }
  li {
    font-size: .95rem;
  }
}

li {
  padding-top: .3rem;
}

.list-item {
  color: black;
  text-decoration: none;
}

.list-item:hover {
  color: #50CB93;
  text-decoration-line: underline;
}
