@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

.navbar {
    margin: auto;
    max-width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 5%;
    padding-right: 5%;
}

.brand{
  align-items: center;
  display: flex;
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  line-height: normal;
}

.brand-name {
  color: #50CB93;
  margin-left: 0.5rem;
}

.menu {
  color: black;
  font-family: 'Crimson Text', serif;
  text-decoration: none;
}

.menu:hover {
  color: #000 ;
}

@media only screen and (min-width: 600px) {
  .menu {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .toggler {
    padding-right: 1rem;
  }

  .nav-collapse {
    background-color: #f9f9f9;
    line-height: 3rem;
    height:100vh;
    text-align: center;
    padding-top: 5rem;
  }
}
